<h2>Hi <%= @user.first_name %>, </h2>

<p>
  Welcome to Open Closet, the first marketplace to get wardrobe, anywhere.<br>

  From now on you can rent the outfit corresponding to your style or put your clothes to rent !<br>
  <br>

 <strong> Happy Closeting ! </strong>
</p>
