<div class="footer navbar-static-bottom">
  <div class="footer-links">
    <a href="https://github.com/aminedhobb/open_closet"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="nav justify-content">
    <a class="nav-link" href="#">Help</a>
    <a class="nav-link" href="#">Delivery & Returns</a>
    <a class="nav-link" href="#">About Us</a>
    <a class="nav-link" href="#">Investors Site</a>
  </div>
</div>
