<div class="container" style="margin-top: 25px">
  <%= link_to 'Owner Dashboard', owner_orders_path %>
  <h1>Buyer Dashboard</h1>
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending Orders</a></li>
      <li role="presentation"><a href="#accepted" aria-controls="accepted" role="tab" data-toggle="tab">Accepted Orders</a></li>
      <li role="presentation"><a href="#refused" aria-controls="refused" role="tab" data-toggle="tab">Refused Orders</a></li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="pending"><%= render 'pending_orders' %></div>
    <div role="tabpanel" class="tab-pane" id="accepted"><%= render 'accepted_orders' %></div>
    <div role="tabpanel" class="tab-pane" id="refused"><%= render 'refused_orders' %></div>
  </div>
</div>
