<div class="container" style="margin-top: 25px">
  <%= link_to 'Buyer Dashboard', orders_path %>
  <h1>Owner Dashboard</h1>
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending Requests</a></li>
      <li role="presentation"><a href="#accepted" aria-controls="accepted" role="tab" data-toggle="tab">Accepted Requests</a></li>
      <li role="presentation"><a href="#refused" aria-controls="refused" role="tab" data-toggle="tab">Refused Requests</a></li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="pending"><%= render 'owner_pending' %></div>
    <div role="tabpanel" class="tab-pane" id="accepted"><%= render 'owner_accepted' %></div>
    <div role="tabpanel" class="tab-pane" id="refused"><%= render 'owner_refused' %></div>
  </div>
</div>


