<div class="banner">
  <div class="banner-content text-center">
    <h1>Open Closet</h1>
    <p> Have everything to wear for your <span class="keyword" style="font-style: italic">meeting </span></p>
    <%= form_tag products_path, class: 'form-inline', method: :get do %>
    <%= text_field_tag :title_or_description, params[:title_or_description], class: "form-control", placeholder: "Shirt, Pants, bag ..."%>
    <%= text_field_tag :address, params[:address], class: "form-control home-search", placeholder: "Destination, City, Address ...", id: "product_address"%>
    <%= submit_tag("Search", class: "btn btn-secondary") %>
    <% end %>
  </div>
</div>
