<h2>Hi <%= @product.user.first_name %>, </h2>

<p>
  Your article <%= @product.title %> is now online and available to other user to rent.<br>

  You will receive an email when a user would like to order your outfit.<br>
  <br>

 <strong> Happy Closeting ! </strong>
</p>
