

<% unless @product.product_images.empty? %>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <% if @product.product_images.length > 1 %>
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <% for i in (1..@product.product_images.length-1) do %>
          <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
        <% end %>
      </ol>
    <% end %>
    <div class="carousel-inner">
      <div class="item active" >
        <%= image_tag(@product.product_images.first.photo_url) %>
      </div>
      <% @product.product_images.drop(1).each do |p| %>
      <div class="item" >
        <%= image_tag(p.photo_url) %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
