<div class="index-content">
  <div class="cards-container">
    <div class = "row">
      <% @products.each do |product| %>
      <% unless  product.product_images.empty? %>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: <%= product.product_images.first.photo_url %>;">
                <%= product.title %>
            </div>
        </div>
        <% end %>
      <% end %>
      <div id="map" style="position: relative; overflow: hidden;">
      </div>
    </div>
  </div>
</div>
