<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-container">
        <h2 class= "text-center"> Add your product to our platform </h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
