<div class="container", style="margin-top: 20px;">
  <div class="row">
    <div class= "col-xs-6 col-xs-offset-3">
      <p class="text-center"> No results match for your search, sorry ! </p>
      <br>
      <div class="text-center">
      <%= link_to "All the products", products_path%>
      <br>
      <%= link_to "Home", root_path %>
    </div>
    </div>
  </div>
</div>
