<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2 class="text-center"> <%= @product.title.capitalize %> </h2>
      <div class="row">
        <div class="col-xs-4">
          <%= render 'carrousel' %>
        </div>
        <div class="col-xs-8">
          <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @markers.to_json %>">
          </div>
        </div>

      </div>




    </div>
  </div>
</div>

